.st-outer {
  font-size: 16px;
  position: relative;
  //background:#fff;
}

.st-outer {
  box-sizing: border-box;
}
.st-outer *,
.st-outer *:before,
.st-outer *:after {
  box-sizing: inherit;
}

.st-icon {
  cursor:pointer;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.st-block__inner {
  ::-moz-selection {
    background: $selection-color;
    text-shadow: none;
  }
  ::selection {
    background: $selection-color;
    text-shadow: none;
  }
}

.st-spinner {
  position: absolute!important;
  left: 50%; top: 50%;
}
