//div.st-block__ui {
//  height: 3rem;
//  background-color: #ddffdd;
//}

.st-block__control-ui {
  //position: absolute;
  //bottom: 0; left: 0;
  //opacity: 1;
  margin-top: .4em;
  margin-left: 1em;
  float: left;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  border-left: 1px solid rgba(160, 160, 160, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.st-block__inner:hover .st-block__ui,
.st-block__inner:hover .st-block__control-ui {
  opacity: 1;
}

%st-block-ui-btn {
  @extend .st-icon;
  display: block;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  padding: .5em;
  color:$block-controls-color;

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }
}

.st-block-ui-btn__reorder {
  @extend %st-block-ui-btn;
  position: absolute;
  right: 1em;
  //transform: scaleX(-1);
  top: 50%; //0.5em;
  transform: translateY(-50%);
  //opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
  &:hover,
  &:focus {
    color:$accent-color;
    opacity: 1;
  }
}

//a.st-block-ui-btn__reorder > svg {
//  transform: translateY(-50%);
//}

.st-block-ui-btn__delete {
  @extend %st-block-ui-btn;
  //position: absolute;
  //right: 1em;
  //top: 1.5em;
  //left: 1.5em;
  //bottom: .5em;
  //font-size:1.5em;
  //opacity: 0.5;
  margin-left: 1em;
  margin-top: .25em;
  float: left;
  &:hover,
  &:focus {
    color:$error-color;
    opacity: 1;
  }

  .st-block--textable &,
  .st-block[data-type="list"] &,
  .st-block {
    //display: none;
  }
  .st-block[data-type="quote"] & {
    //display: block;
  }
}

.st-block-control-ui-btn {
  @extend %st-block-ui-btn;
  //width: 2em;
  //line-height: 1.25em;
  //height: 1.25em;
  //font-size: 1em;
  display: inline-block;
  //padding: 3px;
  transition: color .1s;
  //width: 2rem;
  //height: 2rem;
  width: 2em;
  height: 2em;
  padding: .5em;
  &:hover,
  &:focus {
    background-color:$accent-color;
    color: white;
  }
}
.st-block-control-ui-btn--selected {
  background-color:$accent-color;
  color: black;
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
  color: $error-color;
  border-color: $error-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: $error-color;
  }
}

.st-block__ui-delete-card {
  position: absolute;
  z-index: 2;
  background: #fff;
  display:none;
  min-width: 230px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
  //border: 1px solid $error-color;
  //box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  &.active {
    display: block;
  }
}

.st-block__ui-delete-label {
  padding: 24px;
  font-weight: bold;
}

.st-block__ui-buttons {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  height: 53px;
  padding: 8px;
}

.st-block__ui-delete-cancel {
  background-color: white;
  border: 0;
  padding: 8px;
  height: 36px;
  margin-right: 8px;

  color: darkgray;
  &:hover {
    color: black;
    background-color: lightgrey;
  }
}

.st-block__ui-delete-confirm {
  background-color: white;
  border: 0;
  padding: 8px;
  height: 36px;
  margin-right: 8px;

  color: darkred;
  &:hover {
    color: red;
    background-color: lightpink;
  }
}

.st-block--with-errors {
  opacity: 1;
  z-index: 2;
}
