//div.st-block__ui {
//  height: 3rem;
//  background-color: #ddffdd;
//}

.st-block__control-ui {
  //position: absolute;
  //bottom: 0; left: 0;
  //opacity: 1;
  margin-top: .4em;
  margin-left: 1em;
  float: left;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  border-left: 1px solid rgba(160, 160, 160, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.st-block__inner:hover .st-block__ui,
.st-block__inner:hover .st-block__control-ui {
  opacity: 1;
}

.st-block-ui__confirm {
  color: $error-color;
  border:1px solid $error-color;
  background:none;
  padding: 0.15em .4em;
  margin: 0 0.1em;
  font-size:.9em;
  cursor:pointer;
  &:hover {
    color: white;
    background-color: $error-color;
  }
}

%st-block-ui-btn {
  @extend .st-icon;
  display: block;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  padding: .5em;
  color:$block-controls-color;

  &:before {
    position: absolute;
    display: block;
    content: "";
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }
}

.st-block-ui-btn__reorder {
  @extend %st-block-ui-btn;
  position: absolute;
  right: 1em;
  //transform: scaleX(-1);
  top: 50%; //0.5em;
  transform: translateY(-50%);
  //opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
  &:hover,
  &:focus {
    color:$accent-color;
    opacity: 1;
  }
}

//a.st-block-ui-btn__reorder > svg {
//  transform: translateY(-50%);
//}

.st-block-ui-btn__delete {
  @extend %st-block-ui-btn;
  //position: absolute;
  //right: 1em;
  //top: 1.5em;
  //left: 1.5em;
  //bottom: .5em;
  //font-size:1.5em;
  //opacity: 0.5;
  margin-left: 1em;
  margin-top: .25em;
  float: left;
  &:hover,
  &:focus {
    color:$error-color;
    opacity: 1;
  }

  .st-block--textable &,
  .st-block[data-type="list"] &,
  .st-block {
    //display: none;
  }
  .st-block[data-type="quote"] & {
    //display: block;
  }
}

.st-block-control-ui-btn {
  @extend %st-block-ui-btn;
  //width: 2em;
  //line-height: 1.25em;
  //height: 1.25em;
  //font-size: 1em;
  display: inline-block;
  //padding: 3px;
  transition: color .1s;
  //width: 2rem;
  //height: 2rem;
  width: 2em;
  height: 2em;
  padding: .5em;
  &:hover,
  &:focus {
    background-color:$accent-color;
    color: white;
  }
}
.st-block-control-ui-btn--selected {
  background-color:$accent-color;
  color: black;
}

.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
  color: $error-color;
  border-color: $error-color;

  &:hover,
  &.active {
    color: #fff;
    background-color: $error-color;
  }
}

.st-block__ui-delete-controls {
  @include ui-popup;
  //right: 4em;
  //top: 1.85em;
  left: 3.5em;
  bottom: .25em;
  padding: 0.3em .5em;
  border-color:$error-color;

  &:before {
    right:auto;
    left:-0.3em;
    border-color:$error-color;
  }
}

.st-block--with-errors {
  opacity: 1;
  z-index: 2;
}

.st-block__delete-label {
  color: $error-color;
}
